#serv{
    top:250px;
    /* z-index: 2; */
    /* text-align: left; */
    /* margin-left: 5px; */
    /* position: relative; */
}

#broc{
    top:100px;
    /* z-index: 2; */
    /* text-align: left; */
    margin-left: 700px;
    /* position: relative; */
}

.contacts{

    height: 400px;
    margin-left: 80px;
    margin-top: 100px;
    width:calc(100%-50px) ;
}

.contact{

    /* background-image: linear-gradient(#cbcecf, rgb(231, 231, 231)); */
    width: 100%;
    /* border-radius: 10px; */
}

.form{
    padding: 50px;
    margin: 30px;
    margin-left: 40px;
    
}


#info{
    color: rgba(8, 0, 0, 0.274);
    width:420px;
    font-size:20px;
}
.icon{
    font-size: 30px;
}
#abc{
    font-size: 50px;
    /* width:480px; */
}
#pic{
    left:10%;
    position: relative;
    top:0px;
}
#bropicdiv{
    left:0%;
    position: relative;
    top:0px;
}
/* .container{
    margin-left: 120px;
} */

#pic1{
    top: 100px;
    width: 300px;
    position: absolute;
}

#bropic{
    top: 100px;
    height:300px;
    width: 500px;
    position: absolute;
}
 /* .aaa{
     vertical-align: bottom;
     display: table-cell;
 } */

 .downlaod{
    /* background-image: linear-gradient(rgb(124, 157, 196), rgb(185, 202, 228)); */
    background-image: url(images/background.jpg);
    /* width: 60%; */
    height:60%;
    
    border-radius: 10px;
 }

#pic2{
    left: 65%;
    top:-97px;
    width:300px;
    position: relative;
}
video{
    left:30%;
    top:218px;
    position: relative;
    width:320px;
    z-index: 1;
}
#grad1{
    /* height: 600px; */
    /* background-color: red; For browsers that do not support gradients */
    background-image: linear-gradient(rgb(4, 39, 92), rgb(59, 124, 197)); /* Standard syntax (must be last) */
    /* width:100px; */
    /* height:100vh; */
  }

  .slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }


body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}  

  #introheadtext{
      color:white;
      font-size: 55px;
      margin-left: 100px;
  }

  #introtext{
    color:white;
    font-size: 20px;
    margin-left: 100px;
}

.shad{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.281), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#phone{
    top: 200px;
    width: 250px;
    left: 30%;
    position: absolute;
}

.logop{
    top: 380px;
    width: 100px;
    left: 44%;
    position: absolute;
    /* z-index: -1; */

}

.androidlogo{
    top: 520px;
    width: 60px;
    left: 62%;
    position: absolute;
    z-index: 1;

}

/* #dwnld{
    top: 380px;
    width: 80px;
    left: 30%;
    position: absolute;
} */

#brochvid{
    top:20px;
    left:0%;
    z-index: -1;
    position:absolute;
}

#brochure{
    top: 350px;
    width:400px;
    left:25%;
    position:absolute;
}

#brochtext{
    text-align: right;
}
#infobroch{
    color: rgba(8, 0, 0, 0.274);
    width:420px;
    font-size:20px;
    left: 133px;
    position:absolute;
}